<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment-db :: headResources"></th:block>
    <title>Home</title>
</head>
<body>
    <th:block th:replace="fragment-db :: navbar"></th:block>
    <div class="container">
        <div class="text-center">
            <h2 class="display-4">Welcome on chair page</h2>
            <p>On our page, you can add chair models</p>
        </div>

    </div>
    <th:block th:replace="fragment-db :: footer"></th:block>
</body>
</html>