<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment-db :: headResources"></th:block>
    <title>Distributors</title>
</head>
<body>
<th:block th:replace="fragment-db :: navbar"></th:block>
<div class="container">
    <h2>All distributors</h2>
    <a th:href="@{/distributors/add-distributor/0}" class="btn btn-primary" role="button">Add</a>
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>company name</th>
            <th>country of operation</th>
            <th>contact phone</th>
            <th>headquarters address</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="distributor : ${distributors}">
            <td><a th:text="${distributor.id}"></a></td>
            <td><a th:text="${distributor.companyName}"></a></td>
            <td><a th:text="${distributor.countryOfOperation}"></a></td>
            <td><a th:text="${distributor.contactPhone}"></a></td>
            <td><a th:text="${distributor.headquarters}"></a></td>
            <td><a th:href="@{/distributors/details-distributor/{id}(id=${distributor.id})}" class="btn btn-secondary" role="button">Details</a></td>
            <td><a th:href="@{/distributors/add-distributor/{id}(id=${distributor.id})}" class="btn btn-primary" role="button">Edit</a></td>
            <td><a th:href="@{/distributors/delete/{id}(id=${distributor.id})}" class="btn btn-danger" role="button">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="fragment-db :: footer"></th:block>
</body>
</html>